h1, h2, h3 , h4, h5, h6 {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
p, a {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body {
  background-color: #F1F6F5;
  color: #333;
}

a.nav-link:hover {
  color: black;
}
a:hover {
  color: black;}

/* JumboTron */
.jumboBackground {
  background-image: url(../images/IMG_2098.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}


/* profile picture */
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 20px;
  border: 4px solid white;
}
/* card properties */
.cardContainer {
  margin-top: 20px;
  display: block grid;
  padding: 50px;
}
.card {
  margin: 0 auto;
  padding: 20px;
}
.card-img-top { 
}

/* media */

@media screen and (max-width: 933px) {
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-width: 3px;
  }

   img.hero {
    width: auto;
    height: 100px;
  }